<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Nunc id cursus metus aliquam eleifend. Quis varius quam quisque id diam vel. Vitae tortor condimentum
    lacinia quis vel eros donec ac odio. Cras pulvinar mattis nunc sed. Nunc id cursus metus aliquam eleifend mi in.
    Commodo elit at imperdiet dui accumsan. Neque aliquam vestibulum morbi blandit cursus risus. Tincidunt eget nullam
    non nisi.</p>


<%- include("footer") -%>